@model SmartWay.Model.Models.ParentModel
@{
    /**/

    ViewBag.Title = "Home Page";
    Layout = null;
}



<link href="~/Content/Css/LoaderCustom.css" rel="stylesheet" />
<link href="~/Content/Css/bootstrap-base.min.css" rel="stylesheet" />
<link href="~/Content/Css/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/Css/joint.css" rel="stylesheet" />
<link href="~/Content/Css/select2.min.css" rel="stylesheet" />

<script src="~/Scripts/JS/jquery-3.3.1.slim.min.js"></script>
<script src="~/Scripts/JS/popper.min.js"></script>
<script src="~/Scripts/JS/bootstrap.min.js"></script>
<script src="~/Scripts/JS/jquery.js"></script>
<script src="~/Scripts/JS/lodash.js"></script>
<script src="~/Scripts/JS/backbone.js"></script>
<script src="~/Scripts/JS/joint.js"></script>
<script src="~/Scripts/JS/select2.min.js"></script>

<script type="text/javascript">

    var url1 =  "@Url.Action("GetSubsystemApplications", "Home")";
    var url2 = "@Url.Action("GetCompletGraph", "Home")";



</script>
<style>
    .container1 {
        position: fixed;
    }

        .container1 img {
            position: fixed;
            top: 0px;
            right: 0px;
        }
</style>



<div class="container-fluid" style="margin-top:3%">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading"></div>
                <div class="panel-body">
                    <form class="form-inline">
                        <div class="form-group col-md-12">
                            <div class="form-group col-md-3">
                                
                                <label for="email" class="pull-right">Select Application:</label>

                            </div>

                            @*<div class="col-md-3">  <label for="email">Select Application</label></div>*@

                            <div class="col-md-8">
                                <div class="col-md-4">
                                    @Html.DropDownListFor(m => m.applicationList, new SelectList(Model.applicationList, "Id", "Name"), "--Select--", new { @class = "form-control" })
                                </div>
                                <div class="col-md-2">
                                    <button type="button" id="btnShow" class="btn btn-primary" style="border-radius: 20%;">Show Details</button>
                                </div>    <div class="col-md-1">
                                    <button type="button" id="btnClear" class="btn btn-danger" style="border-radius: 20%;">Reset</button>
                                </div>
                            </div>

                        </div>



                    </form>
                </div>
            </div>






        </div>
    </div>

    <div class="row">

        @*<div class="col-md-12">*@
        <div class="panel panel-info">
            <div class="panel-heading">JointJs Graph</div>
            <div class="panel-body">
                @*<div style="float:left;">
                        <img src="http://icons.iconarchive.com/icons/icojam/blue-bits/16/symbol-delete-icon.png" height="300px" width="150px" />
                    </div>*@
                <div class="tap2">
                    <img src="~/Content/805.gif" />
                </div>
                <div class="row">
                    @*<button type="button" id="btnLoad" class="btn btn-primary" style="margin-left:190px;">
                            Load Sub-System
                        </button>*@
                    <div id="myholder" style="overflow-y: auto; overflow-x: auto;"></div>
                </div>
            </div>
        </div>

    </div>



</div>

<script src="~/Scripts/FILES/JointJsCode.js"></script>

